 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  line-height: 1.2;
  margin: 219px 580px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 14px 578px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 34px auto 60px 224px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 181px;
    margin-right: 380px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-right: 378px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 33px;
    margin-left: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 213px;
    margin-right: 160px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: 158px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 53px;
    margin-left: 223px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 85% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 233px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 43px;
    margin-left: auto;
    margin-bottom: 51px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 82.16% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 271px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
    margin-bottom: 40px;
  }
} .u-section-2 {
  min-height: 921px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 70px calc(((100% - 1140px) / 2) + -140px) 0;
}

.u-section-2 .u-text-2 {
  margin: 26px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 85px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/IMG_4840.JPG");
  background-position: 50% 50%;
  min-height: 177px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/IMG_20191203_160510.jpg");
  background-position: 50% 50%;
  min-height: 177px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/IMG_4834.JPG");
  background-position: 66.39% 50%;
  min-height: 177px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  background-image: url("images/IMG_20200527_175534.jpg");
  background-position: 50% 50%;
  min-height: 177px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  background-image: url("images/IMG_20210807_102605.jpg");
  background-position: 50% 50%;
  min-height: 177px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 177px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  background-image: url("images/IMG_20200327_1638472.jpg");
  background-position: 50% 50%;
  min-height: 177px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-image-7 {
  background-image: url("images/dc8f3ac1-4a97-e2dd-742c-7ee4ba506f81.JPG");
  background-position: 50% 50%;
  min-height: 177px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-image-8 {
  background-image: url("images/IMG_20200325_2156071.jpg");
  background-position: 50% 50%;
  min-height: 177px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 177px;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-11 {
  min-height: 177px;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-12 {
  min-height: 177px;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-image-9 {
  background-image: url("images/IMG_7290.JPG");
  background-position: 50% 50%;
  min-height: 177px;
}

.u-section-2 .u-layout-cell-14 {
  min-height: 177px;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-15 {
  min-height: 177px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 833px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 90px;
  }

  .u-section-2 .u-image-1 {
    min-height: 146px;
  }

  .u-section-2 .u-image-2 {
    min-height: 146px;
  }

  .u-section-2 .u-image-3 {
    min-height: 146px;
  }

  .u-section-2 .u-image-4 {
    min-height: 146px;
  }

  .u-section-2 .u-image-5 {
    min-height: 146px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 146px;
  }

  .u-section-2 .u-image-6 {
    min-height: 146px;
  }

  .u-section-2 .u-image-7 {
    min-height: 146px;
  }

  .u-section-2 .u-image-8 {
    min-height: 146px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 146px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 146px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 146px;
  }

  .u-section-2 .u-image-9 {
    min-height: 146px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 146px;
  }

  .u-section-2 .u-layout-cell-15 {
    min-height: 146px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 701px;
  }

  .u-section-2 .u-text-1 {
    width: 500px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 70px;
  }

  .u-section-2 .u-image-1 {
    min-height: 112px;
  }

  .u-section-2 .u-image-2 {
    min-height: 112px;
  }

  .u-section-2 .u-image-3 {
    min-height: 112px;
  }

  .u-section-2 .u-image-4 {
    min-height: 112px;
  }

  .u-section-2 .u-image-5 {
    min-height: 112px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 112px;
  }

  .u-section-2 .u-image-6 {
    min-height: 112px;
  }

  .u-section-2 .u-image-7 {
    min-height: 112px;
  }

  .u-section-2 .u-image-8 {
    min-height: 112px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 112px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 112px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 112px;
  }

  .u-section-2 .u-image-9 {
    min-height: 112px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 112px;
  }

  .u-section-2 .u-layout-cell-15 {
    min-height: 112px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 4145px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 320px);
    margin-right: calc(((100% - 1140px) / 2) + 320px);
  }

  .u-section-2 .u-image-1 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-8 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-9 {
    min-height: 420px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-15 {
    min-height: 420px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2741px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 264px;
  }

  .u-section-2 .u-image-2 {
    min-height: 264px;
  }

  .u-section-2 .u-image-3 {
    min-height: 264px;
  }

  .u-section-2 .u-image-4 {
    min-height: 264px;
  }

  .u-section-2 .u-image-5 {
    min-height: 264px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 264px;
  }

  .u-section-2 .u-image-6 {
    min-height: 264px;
  }

  .u-section-2 .u-image-7 {
    min-height: 264px;
  }

  .u-section-2 .u-image-8 {
    min-height: 264px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 264px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 264px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 264px;
  }

  .u-section-2 .u-image-9 {
    min-height: 264px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 264px;
  }

  .u-section-2 .u-layout-cell-15 {
    min-height: 264px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 180px;
}

.u-section-3 .u-social-icons-1 {
  height: 60px;
  min-height: 16px;
  width: 220px;
  min-width: 88px;
  margin: 60px auto;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
  }
}